h5{
    font-weight: bold;
}

// // Articles left and right

.card-title{
    a{
        text-decoration: none;
        font-size: .7em;
        font-weight: normal;
    }
}

.logo_about{
    color: lightslategrey;
}